<div id="main">
  <center>
    <h1 style="font-family:calibri">Dynamic Map</h1>
    <br>
    <div id="map" class=container></div>
  </center>
  <script>
  var locationData = {"coordinates":{lat: 19.432608, lng: -99.133209},"info":"Awesome"};
  var map = new google.maps.Map(document.getElementById('map'), {
    scaleControl: true,
    center: locationData.coordinates,
    zoom: 5
  });
  var infowindow = new google.maps.InfoWindow;
  infowindow.setContent(locationData.info);

  var marker = new google.maps.Marker({map: map, position: locationData.coordinates});
  marker.addListener('click', function() {
    infowindow.open(map, marker);
  });
  </script>
</div>
