<div id="main">
  <center>
    <h1 style="font-family:calibri">Static Map</h1>
    <br>
    <div id="map" class=container></div>
  </center>
  <script>
  var map = new google.maps.Map(document.getElementById('map'), {
    scaleControl: true,
    center: {lat: 27.3685477, lng: -101.1810522},
    zoom: 5
  });
  
  var headQuarter = new google.maps.Marker({map: map, position: {lat: 37.478855, lng: -122.180135}});
  headQuarter.addListener('click', function() {
    var headQuarterInfo = new google.maps.InfoWindow;
    headQuarterInfo.setContent('Headquarter');
    headQuarterInfo.open(map, headQuarter);
  });

  var commandCenter = new google.maps.Marker({map: map, position: {lat: 19.3685477, lng: -99.1810522}});
  commandCenter.addListener('click', function() {
    var commandCenterInfo = new google.maps.InfoWindow;
    commandCenterInfo.setContent('Command Center');
    commandCenterInfo.open(map, commandCenter);
  });
  </script>
</div>
