<div id="main">
  <center>
    <h1 style="font-family:calibri">Static Map</h1>
    <br>
    <div id="map" class=container></div>
  </center>
  <script>
  var locationData = {"coordinates":{lat: 37.478855, lng: -122.180135},"info":"Awesome"};
  var map;
  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      scaleControl: true,
      center: locationData.coordinates,
      zoom: 10
    });
    var infowindow = new google.maps.InfoWindow;
    infowindow.setContent(locationData.info);

    var marker = new google.maps.Marker({map: map, position: locationData.coordinates});
    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCdnOWxg4xOAkRHIYGF0cwhwOPqbYRgueQ&callback=initMap" async defer></script>
</div>
